
#h1{
    text-align: center;
    color: brown;
}
h2{
    text-align: center;
    font-style: italic;
    font-size: 3vw;
}
#body{
    background-color: beige;
    color: var(--textdark);
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vw;
    padding: 25%;
}